/* color palette from <https://github.com/vuejs/theme> */
@font-face 
{
  font-family: 'Unbounded-Bold'; /* Имя, которое вы будете использовать в C SS */
  src: url('fonts/Unbounded-Bold.woff') format('woff');
  font-weight: bold; /* Насыщенность шрифта */
  font-style: normal;  /* Стиль шрифта */
}

@font-face 
{
  font-family: 'Unbounded-Medium'; /* Имя, которое вы будете использовать в CSS */
  src: url('fonts/Unbounded-Medium.woff') format('woff');
  font-weight: medium; /* Насыщенность шрифта */
  font-style: normal;  /* Стиль шрифта */
}

@font-face 
{
  font-family: 'Montserrat'; /* Имя, которое вы будете использовать в CSS */
  src: url('fonts/Montserrat-Medium.woff') format('woff');
  font-weight: medium; /* Насыщенность шрифта */
  font-style: normal;  /* Стиль шрифта */
}




:root {
  --vt-background: #FFFFFF;
  --vt-text-color: #1F1F1F;
  --vt-text2-color: #FFFFFF;
  --vt-second-color: #FFF200;

  --vt-text-h-color: #7E7E7E;

  --vt-shadow-color: #cbcbcb;
}

body {
  margin: 0 0;
  padding: 0 0;

  min-height: 100vh;
  color: var(--vt-text-color);
  font-family:
    "Montserrat",
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}

@media (max-width: 1024px) {

}